# Node
node_modules/
.next/

# Env
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Build
out/
build/

# Misc
*.pem
.vercel/ 